.trusted-swiper {
  width: 100%;
  overflow: hidden;
}

.trusted-swiper .swiper-wrapper {
  align-items: center;
  transition-timing-function: linear !important;
}

.trusted-swiper .swiper-slide {
  width: auto !important;
  flex-shrink: 0;
}
